@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    height: 0;
    position: absolute;
}

.pomo-title{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    margin: 20px;
}

header > .pomo-title > em{
    font-size: 1.8em;
    letter-spacing: 8px;
}

header > .pomo-title > p{
    font-weight: 500;
    letter-spacing: 14px;

}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/tomas-jasovsky-d5SZqLkpIrY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

section > .container{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 50%;

}

.option-btn{
    color: white;
    border: white 1px solid;
    border-radius: 30px;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    padding: 10px;
    margin-inline: 30px;
    width: 140px;
    cursor: pointer;
    transition: all 180ms ease-in-out;
    letter-spacing: 4px;
}

.options > button:last-child{
    width: 200px;
}

.option-btn:hover,
.modal-buttons>button:hover{
    background-color: white;
    color:rgba(79, 79, 79, 0.8);
    font-weight: 200;
}

.active{
    background-color: white;
    color:rgba(79, 79, 79, 0.8);
    font-weight: 200;
}

.time{
    display: inline-flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.time > p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 15em;
    line-height: 1em;
}  

#work-break-text{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

#modal-stuff > .set-contain > h2{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    letter-spacing: 4px;
}

.modal-container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.modal{
    height: 500px;
    width: 800px;
    color: white;
    background-color: #282828;
    z-index: 2;
    overflow:auto;
    border-radius: 20px;
    position: absolute;
    padding: 60px; 
    top:-30%;
    opacity: 0;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

select{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: white;
    letter-spacing: 5px;
}

.modal-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-buttons > button{
    color: white;
    border: white 1px solid;
    border-radius: 30px;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    transition: all 180ms ease-in-out;
    letter-spacing: 4px;
}

.modal-buttons > button:last-child{
    width: 240px;
    border: rgb(89, 179, 139) 1px solid;
    color: rgb(89, 179, 139);
}

.modal-buttons > button:last-child:hover{
    background: rgb(89, 179, 139);
    color: white;
}

.set-contain{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display-settings{
    height: 50px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

.display-settings > p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 5px;
}

.display-settings > img{
    width: 10px;
}

.modal > .set-contain > ul{
    display:flex;
    justify-content: space-between;
}

.modal > .set-contain > ul > li{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: center;
}

.modal > .set-contain > ul > li > input[type=number]{
    height: 170px;
    border-top: white solid 2px;
    border-left:white solid 2px;
    border-right: white solid 2px;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    background-color: rgba(217, 217, 217, 0.3);
    text-align: center;
    padding-top: 40px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 9em;
    box-sizing: border-box;
}

.modal-container > .modal > .set-contain > ul > li > .arrow-btns > .arr-btn{
    width: 50%;
    background-color: white;
    color: rgb(79, 79, 79, 0.5);
    border: none;
    font-size: 2em;
}

.modal-container > .modal > .set-contain > ul > li > .arrow-btns > #down-arr-w{
    border-radius: 0 0 0 12px;
}
.modal-container > .modal > .set-contain > ul > li > .arrow-btns > #up-arr-w{
    border-radius: 0 0 12px 0;
}
.modal-container > .modal > .set-contain > ul > li > .arrow-btns > #down-arr-b{
    border-radius: 0 0 0 12px;
}
.modal-container > .modal > .set-contain > ul > li > .arrow-btns > #up-arr-b{
    border-radius: 0 0 12px 0;
}
.modal-container > .modal > .set-contain > ul > li > .arrow-btns > #down-arr-lb{
    border-radius: 0 0 0 12px;
}
.modal-container > .modal > .set-contain > ul > li > .arrow-btns > #up-arr-lb{
    border-radius: 0 0 12px 0;
}

.modal-container > .modal > .set-contain > ul > li > .arrow-btns{
    display: flex;
    height: 50px;
}


.modal-container > .modal > .set-contain > ul > li > label{
    background-color: rgba(217, 217, 217, 0.3);
    border-left:white solid 2px;
    border-right: white solid 2px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

.play-pause-reset > button{
    background: transparent;
    border: none;
    cursor: pointer;
    margin-inline: 30px;
}

.overlay{
    position:fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden{
    display: none;
    z-index: 0;
}